export function {{pascalCase componentName}}() { 
  return (
  <div>
    <h3>{{pascalCase componentName}}</h3>
    {/* TODO render your glorious component in JSX...comment extended to preserve outer parenthesis.
    */}
  </div>
  ); 
};

export default {{pascalCase componentName}};